# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch